.home {
    background-color: black;
}

.color-pickers {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 20%;
}

#custom-theme1 {
    left: 1%;
}

#custom-theme2 {
    left: 3.5%;
}

#custom-theme3 {
    left: 6%;
}

#custom-theme4 {
    left: 8.5%;
}